force-app/main/default/flows/Music_Class_Instructor_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Needs_assistant_Assignment</name>
        <label>Needs assistant Assignment</label>
        <locationX>842</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>$Record.Need_Assistant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If the instructor has changed then the need assistant checkbox must be checked.</description>
        <name>Has_the_Music_Class_Instructor_Changed</name>
        <label>Has the Music Class Instructor Changed</label>
        <locationX>858</locationX>
        <locationY>115</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Instructor_has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Instructor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Instructor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Needs_assistant_Assignment</targetReference>
            </connector>
            <label>Instructor has changed</label>
        </rules>
    </decisions>
    <interviewLabel>Music Class Instructor Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Music Class Instructor Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Updating_Record</name>
        <label>Updating Record</label>
        <locationX>791</locationX>
        <locationY>549</locationY>
        <inputAssignments>
            <field>Need_Assistant__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Has_the_Music_Class_Instructor_Changed</targetReference>
        </connector>
        <object>Revature_Music_Class__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
