force-app/main/default/flows/Updating_Order_Late_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update_Late_Date</name>
        <label>Update Late Date</label>
        <locationX>198</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>$Record.Order_Late_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Order_Late_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_with_Updated_Late_Date</targetReference>
        </connector>
    </assignments>
    <description>Updating the order late date on a Music Product Order</description>
    <formulas>
        <name>New_Order_Late_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record__Prior.Order_Late_Date__c} + 7</expression>
    </formulas>
    <interviewLabel>Updating Order Late Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updating Order Late Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record_with_Updated_Late_Date</name>
        <label>Update Record with Updated Late Date</label>
        <locationX>204</locationX>
        <locationY>474</locationY>
        <inputAssignments>
            <field>Order_Late_Date__c</field>
            <value>
                <elementReference>New_Order_Late_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Late_Date</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Payment_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Card</stringValue>
            </value>
        </filters>
        <object>Music_Product_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
